header {
  text-align: center;
  width: 352px;
  height: 144px;
  

}
header > h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #F9F4DA;
  height: 26px;
  margin: 4px;
}

header > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8E8E8E;
  height: 36px;
  margin: 0;
}


.lang-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5px;
  justify-content: center;
  width: 266px;
  height: 51.5px;
  
}
.lang-button {
  
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 0%;
  color: black;
  height: 25px;
  border-radius: 3px;
  padding: 4.5px;
  border: none;

}